* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(154, 224, 252);
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-family: system-ui;
}

.container {
    background-color: rgb(196, 235, 250);
    display: grid;
    grid-template-columns: auto 1fr 1fr; 
    grid-template-rows: auto; 
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "aside content content"
        "aside section section"
        "footer footer footer";
    gap: 12px;
    padding: 12px;
    width: 600px;
}

header {
    height: 40px; 
    grid-area: header;
    background-color: #03bfb1;
    padding: 20px;
}

nav {
    grid-area: nav;
    background-color: #33c361;
    padding: 20px;
    height: 40px; 
}

aside {
    grid-area: aside;
    background-color: #6edb6e;
    padding: 20px;
    height: 200px;
    min-width: 130px; 
}

main {
    grid-area: content;
    background-color: #0f98c6;
    padding: 20px;
}

section {
    grid-area: section;
    background-color: #005b92;
    padding: 20px;
}

footer {
    grid-area: footer;
    background-color: #03bfb1;
    padding: 20px;
}

header, nav, aside, main, section, footer {
    font-size: 18px; 
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
